# Test retrieval of data from webcritech

In [1]:
import pandas as pd

In [2]:
import requests

In [3]:
import numpy as np

In [4]:
critech = pd.read_csv('/Users/brey/GitHub/pyposeidon/pyposeidon/misc/critech.csv')

In [5]:
critech.head()

,ID,Name,Group,Latency,Details,Last Date,Max. Time,Min. Time,lat,lon,Status
0,47,"140 NM Southeast of Honolulu, HI",DART Pacific,5h 41m,Details,09 Apr 2018 06:00,09 Apr 2018 06:00,16 Mar 2011 00:37,19.630,-156.525,Active
1,22,175 NM S of Attu AK,DART Pacific,5h 41m,Details,09 Apr 2018 06:00,09 Apr 2018 06:00,11 Mar 2011 00:30,50.173,171.837,Active
2,44,"190 NM West-Southwest of San Diego, CA",DART Pacific,5h 41m,Details,09 Apr 2018 06:00,09 Apr 2018 06:00,16 Mar 2011 00:30,32.246,-120.698,Active
3,39,"240 NM South of Dutch Harbor, AK",DART Pacific,5h 41m,Details,09 Apr 2018 06:00,09 Apr 2018 06:00,16 Mar 2011 00:30,51.070,-164.011,Active
4,35,"240 NM Southwest of Manzanillo, Mexico",DART Pacific,4h 41m,Details,09 Apr 2018 07:00,09 Apr 2018 07:00,16 Mar 2011 00:30,16.034,-107.001,Active

In [6]:
critech.Group.unique()

array(['DART Pacific', 'DMI', 'FMI', 'Ign', 'IOOS', 'ISPRA', 'TAD',
       'TD UNESCO', 'TADSERVER'], dtype=object)

In [7]:
critech.loc[critech.Group=='TD UNESCO']

,ID,Name,Group,Latency,Details,Last Date,Max. Time,Min. Time,lat,lon,Status
96,1014,Antarctica - Syowa,TD UNESCO,2h 46m,Details,09 Apr 2018 08:55,09 Apr 2018 08:55,29 Apr 2011 19:15,-69.008,39.570,Active
97,1028,Antarctica - Vernadsky,TD UNESCO,1h 2m,Details,09 Apr 2018 10:39,09 Apr 2018 10:39,29 Apr 2011 19:30,-65.250,-64.270,Active
98,1798,"Antigua, Barbuda & Redonda - Barbuda",TD UNESCO,1h 5m,Details,09 Apr 2018 10:36,09 Apr 2018 10:36,07 Jun 2012 19:23,17.890,-61.820,Active
99,1572,Argentina - Mar del Plata,TD UNESCO,1h 22m,Details,09 Apr 2018 10:19,09 Apr 2018 10:19,29 Apr 2011 19:14,-38.000,-57.539,Active
100,1794,Argentina - Puerto Deseado,TD UNESCO,1h 7m,Details,09 Apr 2018 10:34,09 Apr 2018 10:34,07 Jun 2012 19:24,-47.754,-65.915,Active
...,...,...,...,...,...,...,...,...,...,...,...
658,1027,Vanuatu - Vanuatu,TD UNESCO,30m,Details,09 Apr 2018 12:08,09 Apr 2018 09:11,29 Apr 2011 19:10,-17.755,168.308,Active
659,1885,Vernadsky - Faraday,TD UNESCO,47m,Details,09 Apr 2018 10:54,09 Apr 2018 09:09,17 Jul 2012 02:24,-65.250,-64.270,Active
660,1686,Viet Nam - Qui_Nhon,TD UNESCO,36m,Details,09 Apr 2018 11:05,09 Apr 2018 09:11,02 May 2011 22:14,13.775,109.254,Active
661,1031,Viet Nam - Vung Tau,TD UNESCO,39m,Details,09 Apr 2018 11:02,09 Apr 2018 09:08,11 Mar 2011 05:00,10.340,107.071,Active
662,1627,Yemen - Aden,TD UNESCO,1h 3m,Details,09 Apr 2018 10:38,09 Apr 2018 04:42,02 May 2011 22:15,12.788,44.974,Active

In [411]:
#DART Pacific
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=1712&dateMin=2013%2F10%2F28+01%3A00&dateMax=2013%2F10%2F31+12%3A00&field=&options='

In [76]:
#TD UNESCO
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=2368&dateMin=2018%2F09%2F01+00%3A00&dateMax=2018%2F09%2F06+00%3A00&field=&options='

In [225]:
#ISPRA
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=1841&dateMin=2018%2F09%2F01+00%3A00&dateMax=2018%2F09%2F04+12%3A00&field=&options='

In [405]:
#TADSERVER
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=100154&dateMin=2019%2F03%2F01+00%3A00&dateMax=2019%2F03%2F04+12%3A00&field=&options='

In [430]:
#TADSERVER
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=100075&dateMin=2018%2F09%2F01+00%3A00&dateMax=2018%2F09%2F04+12%3A00&field=&options='

In [278]:
#DMI
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=2574&dateMin=2018%2F09%2F01+00%3A00&dateMax=2018%2F09%2F04+12%3A00&field=&options='

In [186]:
#FMI
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=2344&dateMin=2018%2F09%2F01+00%3A00&dateMax=2018%2F09%2F04+12%3A00&field=&options='

In [199]:
#IOOS
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=1988&dateMin=2018%2F09%2F01+00%3A00&dateMax=2018%2F09%2F04+12%3A00&field=&options='

In [212]:
#Ign
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=2551&dateMin=2018%2F09%2F01+00%3A00&dateMax=2018%2F09%2F04+12%3A00&field=&options='

In [292]:
#TAD
url = 'http://webcritech.jrc.ec.europa.eu/SeaLevelsDb/Home/ShowBuoyData?id=1044&dateMin=2018%2F09%2F01+00%3A00&dateMax=2018%2F09%2F04+12%3A00&field=&options='

In [431]:
response = requests.get(url)

In [432]:
ls = response.content

In [433]:
response.headers

{'Cache-Control': 'no-cache', 'Pragma': 'no-cache', 'Content-Length': '4414', 'Content-Type': 'text/plain; charset=utf-8', 'Expires': '-1', 'X-AspNet-Version': '4.0.30319', 'X-Frame-Options': 'SAMEORIGIN', 'Content-Security-Policy': "default-src 'self' 'unsafe-inline' 'unsafe-eval' http://europa.eu http://webcritech.jrc.ec.europa.eu https://dev.virtualearth.net ws://webcritech.jrc.ec.europa.eu ;img-src * data: blob:", 'X-Content-Type-Options': 'nosniff', 'X-XSS-Protection': '1; mode=block', 'Access-Control-Allow-Origin': '*', 'Date': 'Thu, 06 Jun 2019 11:19:31 GMT'}

In [434]:
lp = ls.decode('utf-8').strip().split('\n')

In [435]:
lp

['# Data extraction for deviceID=NOA-01 (ID=75) on 06 Jun 2019 11:19:29\r',
 '#  lat=36.1139 lon=28.0696 hei=0  Location: Kalathos (Rhodes - Greece)  Last Date: 31 Dec 2017 21:26:47  Latency: 521.13:52:44.3238180\r',
 '# Server=webcritech.jrc.ec.europa.eu\r',
 '# HARMONICS=0,0.450100296513283,0|0.128766334283776,0.000211113737385466,0.00055020366688962|0.128857194376164,-0.000593681166343651,0.000319794038854997|0.129381266016223,-0.000150256529390057,-0.000689648822368872|0.147068369304709,-0.000634695916357797,-0.000612360410436581|0.168413975812495,0.000417881891539684,0.000650903835435826|0.168569435980517,-0.000717056363547008,0.000599584978947277|0.170357083547568,-0.000777645947704281,0.000100364996778048|0.170516143636361,0.000111734400693325,-0.000895563115861178|0.172508349331654,0.000729253468706749,0.000425112068621232|0.174695758496972,0.000682838842631192,0.00043275728107833|0.199890544415426,0.000395037095758777,0.00114206110869765|0.205453337753506,0.000722369098331743,-0.00021549229992581|0.249658233357344,0.000720568432309465,0.000516536857116777|0.249999992,-0.00107855540252112,-0.00134326764634574|0.253952177489379,0.000323874598294778,-0.000820281228810012|0.254305803118864,0.000808968555298494,0.000109051724354926|0.25631444055176,-0.000130598188169697,-0.00105180122617995|0.256674704014076,0.000754336150381257,0.000264030753550367|0.258762532032447,-0.000823464158411007,0.000644229232227961|0.261215591287424,-0.000464856141574384,0.000761393526404046|0.333029389398687,0.00205756820899915,-0.00109639225522809|0.340714167095135,-0.000185659729659935,0.000927336087347346|0.341351021629882,-0.000873334300354426,-0.00057215939415038|0.34501669723487,0.000385079165736838,0.00177984599146664|0.349429284557433,0.000500531846891526,-0.00140026593883173|0.489771751709733,-0.00115602954926242,0.000620513263468218|0.491088802767104,-0.00189132830207435,0.000217226837604679|0.498634767923513,0.00379659029727861,0.00675943089491778|0.499316511591742,1.0066059296477E-05,0.00267744703840152|0.499999984,-0.00215480675005249,-0.0321905518208683|0.507984165946608,-0.000638585578961292,0.00132989897469922|0.509240592196617,0.00156559900930735,-1.45751065282882E-05|0.51606260547855,-0.00146774964165008,0.000777413704769955|0.516792827371988,-0.00234818271034062,0.000724821095782805|0.517525060850908,-0.0578535064366275,-0.0147437646233523|0.518259333570738,-0.000211084978896477,-0.0002287811868941|0.526083541864433,-0.000555413370975207,-0.00091986750563781|0.527431160919067,-0.00362212418722912,0.00779153304486373|0.536323226339296,0.000347853736940994,0.000670445609606467|0.537723941372983,0.000403281250946086,-0.000176104089155485|0.546969491030712,0.00119749289274261,0.000641335110745047|0.548426385474333,-5.48609016842099E-05,-0.00139524310391506|0.899093169594225,0.000504626674779151,-0.00062522424891016|0.92941980084125,0.000247074412581731,5.21175638614803E-05|0.934174122926896,-0.000231996660821793,0.000540323316919783|0.962436511046921,-0.00136876059143941,-0.00118835570990766|0.966956557148237,0.00325509983521035,0.000719372532995803|0.991853148349387,-0.00407323009782778,0.00273743319037087|0.994554139787846,0.00209560356983564,0.000983469986790106|0.997269547781583,0.00670552629486524,-0.0250827683520267|0.999999872000017,-0.000414985040136252,0.00664353757475819|1.00274540461034,0.00907353890418118,-0.00153425647497725|1.00550583624144,0.00249661128637569,-0.00282283617939421|1.02954467892393,0.000301385984581976,-0.00206900563746082|1.03471863450781,0.00116194489957763,-0.00184097691016114|1.04061468326798,9.99111070462197E-06,0.00175710113170925|1.06950552105274,0.00123453195142654,-0.000996673277978539|1.07580588726596,-0.00853876617764793,-0.00648724601569036|1.11346057230323,-0.0021182726955943,0.000590515262417405|1.11951481625018,-0.00204434748293016,0.00197306073586071|1.16034950581132,-0.00126037683936066,0.00226500945896417|1.16692589225208,-0.000340372798524376,0.000390040330132358|1.21136109404707,-0.00127960931364874,-0.000235992593410345|13.6607901226149,0.0027954646979087,0.00500782213707083|14.7652926794033,0.0074609316874397,0.00108086404276285|27.5545491899403,0.00497221078324005,0.016256549761522|31.8119339543532,-0.00360509314523027,0.00586442654578962|182.621183765123,-0.0127137876088949,0.0220479329115905|365.259977441544,-0.0570612300501688,-0.0500756048235784\r',
 '# Time(UTC), Level (m), Tide (m), Level-Tide (m)']

## Select subset

In [417]:
ss = ls.decode('utf-8').strip()
[group for group in ['DMI', 'TAD', 'ISPRA', 'Ign', 'IOOS', 'FMI', 'DART Pacific','TD UNESCO'] if group in ss[:ss.index('HARMONICS')]]

['DART Pacific']

## Retrieve data

In [436]:
s1=lp[0].strip()
print(s1)
at  = s1[s1.index('deviceID='):s1.index('(ID')]
print(at)
bname = at.strip().split('=')[1]
print(bname)
at = s1[s1.index('(ID='):s1.index(')')]
print(at)
if len(at)==0: at = s1[s1.index('(ID='):]
print(at)
bid = at.strip().split('=')[1].strip(')')
bname, bid

# Data extraction for deviceID=NOA-01 (ID=75) on 06 Jun 2019 11:19:29
deviceID=NOA-01
NOA-01
(ID=75
(ID=75

('NOA-01', '75')

In [437]:
s1=lp[1].strip()
print(s1)

at = s1[s1.index('lat='):s1.index('lon')]
lat = at.strip().split('=')[1]

try:
    at = s1[s1.index('lon='):s1.index('hei')]
    lon = at.strip().split('=')[1]
except:
    at = s1[s1.index('lon='):s1.index('Location')]
    lon = at.strip().split('=')[1]


try:
    at = s1[s1.index('Location:'):s1.index('Extraction')]
except:
    at = s1[s1.index('Location:'):s1.index('Last')]

Location = at.strip().split(':')[1].strip('-').strip()
Location = ''.join(c for c in Location if c not in '(){}<>\r\n#')


try:
    at = s1[s1.index('Date:'):s1.index('Latency')]
    Last_Date = at.strip().split('Date:')[1].strip()
    at = s1[s1.index('Latency:'):]
    Latency = at.strip().split('Latency:')[1].strip()
    Extraction_date = np.nan
except:
    at = s1[s1.index('Date:'):]
    Extraction_date = at.strip().split('Date:')[1].strip()
    Latency = np.nan
    Last_Date = np.nan

lat,lon,Location,Latency,Last_Date,Extraction_date

#  lat=36.1139 lon=28.0696 hei=0  Location: Kalathos (Rhodes - Greece)  Last Date: 31 Dec 2017 21:26:47  Latency: 521.13:52:44.3238180

('36.1139',
 '28.0696',
 'Kalathos Rhodes - Greece',
 '521.13:52:44.3238180',
 '31 Dec 2017 21:26:47',
 nan)

In [438]:
l = 2

In [439]:
try:
    s1=lp[l].strip()
    print(s1)



    at = s1[s1.index('Time:'):s1.index(' - Last')]

    Last_Time = at.strip().split('Time:')[1].strip()

    at = s1[s1.index('Value:'):]

    Last_Value = at.strip().split('Value:')[1].strip()
    Last_Value = ''.join(c for c in Last_Value if c not in '(){}<>\r\n#')

    print(Last_Time, Last_Value)
except:
    l = l - 1

# Server=webcritech.jrc.ec.europa.eu

In [440]:
l = l + 1
s1=lp[l].strip()
print(s1)
Server = s1.strip().split('=')[1]
print(Server)

# Server=webcritech.jrc.ec.europa.eu
webcritech.jrc.ec.europa.eu

In [441]:
l = l + 1
s1=lp[l].strip()
print(s1)

tr = pd.Series(s1.strip().split('=')[1].split('|'))
tr = pd.DataFrame(tr.str.split(',', expand=True))

# HARMONICS=0,0.450100296513283,0|0.128766334283776,0.000211113737385466,0.00055020366688962|0.128857194376164,-0.000593681166343651,0.000319794038854997|0.129381266016223,-0.000150256529390057,-0.000689648822368872|0.147068369304709,-0.000634695916357797,-0.000612360410436581|0.168413975812495,0.000417881891539684,0.000650903835435826|0.168569435980517,-0.000717056363547008,0.000599584978947277|0.170357083547568,-0.000777645947704281,0.000100364996778048|0.170516143636361,0.000111734400693325,-0.000895563115861178|0.172508349331654,0.000729253468706749,0.000425112068621232|0.174695758496972,0.000682838842631192,0.00043275728107833|0.199890544415426,0.000395037095758777,0.00114206110869765|0.205453337753506,0.000722369098331743,-0.00021549229992581|0.249658233357344,0.000720568432309465,0.000516536857116777|0.249999992,-0.00107855540252112,-0.00134326764634574|0.253952177489379,0.000323874598294778,-0.000820281228810012|0.254305803118864,0.000808968555298494,0.000109051724354926|0.25631444055176,-0.000130598188169697,-0.00105180122617995|0.256674704014076,0.000754336150381257,0.000264030753550367|0.258762532032447,-0.000823464158411007,0.000644229232227961|0.261215591287424,-0.000464856141574384,0.000761393526404046|0.333029389398687,0.00205756820899915,-0.00109639225522809|0.340714167095135,-0.000185659729659935,0.000927336087347346|0.341351021629882,-0.000873334300354426,-0.00057215939415038|0.34501669723487,0.000385079165736838,0.00177984599146664|0.349429284557433,0.000500531846891526,-0.00140026593883173|0.489771751709733,-0.00115602954926242,0.000620513263468218|0.491088802767104,-0.00189132830207435,0.000217226837604679|0.498634767923513,0.00379659029727861,0.00675943089491778|0.499316511591742,1.0066059296477E-05,0.00267744703840152|0.499999984,-0.00215480675005249,-0.0321905518208683|0.507984165946608,-0.000638585578961292,0.00132989897469922|0.509240592196617,0.00156559900930735,-1.45751065282882E-05|0.51606260547855,-0.00146774964165008,0.000777413704769955|0.516792827371988,-0.00234818271034062,0.000724821095782805|0.517525060850908,-0.0578535064366275,-0.0147437646233523|0.518259333570738,-0.000211084978896477,-0.0002287811868941|0.526083541864433,-0.000555413370975207,-0.00091986750563781|0.527431160919067,-0.00362212418722912,0.00779153304486373|0.536323226339296,0.000347853736940994,0.000670445609606467|0.537723941372983,0.000403281250946086,-0.000176104089155485|0.546969491030712,0.00119749289274261,0.000641335110745047|0.548426385474333,-5.48609016842099E-05,-0.00139524310391506|0.899093169594225,0.000504626674779151,-0.00062522424891016|0.92941980084125,0.000247074412581731,5.21175638614803E-05|0.934174122926896,-0.000231996660821793,0.000540323316919783|0.962436511046921,-0.00136876059143941,-0.00118835570990766|0.966956557148237,0.00325509983521035,0.000719372532995803|0.991853148349387,-0.00407323009782778,0.00273743319037087|0.994554139787846,0.00209560356983564,0.000983469986790106|0.997269547781583,0.00670552629486524,-0.0250827683520267|0.999999872000017,-0.000414985040136252,0.00664353757475819|1.00274540461034,0.00907353890418118,-0.00153425647497725|1.00550583624144,0.00249661128637569,-0.00282283617939421|1.02954467892393,0.000301385984581976,-0.00206900563746082|1.03471863450781,0.00116194489957763,-0.00184097691016114|1.04061468326798,9.99111070462197E-06,0.00175710113170925|1.06950552105274,0.00123453195142654,-0.000996673277978539|1.07580588726596,-0.00853876617764793,-0.00648724601569036|1.11346057230323,-0.0021182726955943,0.000590515262417405|1.11951481625018,-0.00204434748293016,0.00197306073586071|1.16034950581132,-0.00126037683936066,0.00226500945896417|1.16692589225208,-0.000340372798524376,0.000390040330132358|1.21136109404707,-0.00127960931364874,-0.000235992593410345|13.6607901226149,0.0027954646979087,0.00500782213707083|14.7652926794033,0.0074609316874397,0.00108086404276285|27.5545491899403,0.00497221078324005,0.016256549761522|31.8119339543532,-0.00360509314523027,0.00586442654578962|182.621183765123,-0.0127137876088949,0.0220479329115905|365.259977441544,-0.0570612300501688,-0.0500756048235784

In [442]:
tr.columns = ['h1','h2','h3']
tr.head()

                  h1                     h2                     h3
0                  0      0.450100296513283                      0
1  0.128766334283776   0.000211113737385466    0.00055020366688962
2  0.128857194376164  -0.000593681166343651   0.000319794038854997
3  0.129381266016223  -0.000150256529390057  -0.000689648822368872
4  0.147068369304709  -0.000634695916357797  -0.000612360410436581

In [443]:
l += 1
s1 = lp[l]
headers = ''.join(c for c in s1 if c not in '(){}<>\r\n#').split(',')
headers = [x.strip() for x in headers]
headers

['TimeUTC', 'Level m', 'Tide m', 'Level-Tide m']

In [444]:
try:
    dat = pd.Series(lp[l+1:])
    dat = pd.DataFrame(dat.str.split(',', expand=True))
    dat.columns = headers
    dat[dat.columns[-1]] = dat[dat.columns[-1]].str.strip('\r')
    dat.head()
except:
    dat = pd.DataFrame({'TimeUTC':np.nan, 'Level m':np.nan, 'Tide m':np.nan, 'Level-Tide m':np.nan}, index=[0])

In [445]:
dat = dat.set_index(dat.columns[0])

In [446]:
try:
    dat.index = pd.to_datetime(dat.index)
except:
    pass

In [447]:
dat

         Level m  Tide m  Level-Tide m
TimeUTC
NaN          NaN     NaN           NaN